%p Your order has been printed and posted!!
%p We use the Australia Post standard service - the delivery time is up to 6 business days depending on the destination.
%p If you've ordered more than one set of prints they may arrive in separate packages and on separate days!!
%p Once packages are in the hands of Aust Post we are unable to control the delivery…which sometime results in different delivery days….)


%p
  If you haven't already connected with us on
  = link_to "Facebook", "https://www.facebook.com/pages/Pocket-Prints/244847619027735"
  or 
  = link_to "Instagram", "http://instagram.com/pocketprintsapp"
  , and if you love your prints ….let us know…. especially via Insta or FB.

%p (if ya don't - just email us, we know we can fix it…privately…ha!)
%br

%p All the best,
%p From Yuki and Scott
