%p There is an Error occurs when retry upload Order to FTP:

= link_to "Order #{@order.id}", RailsAdmin::Engine.routes.url_helpers.show_url(:model_name => "order", :id => @order.id, :host => "pp.appiphany.com.au")

%p Error message: #{@error}
